
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="header-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="user-panel">
					<a routerLink="/Register" routerLinkActive="active">Register</a> / 
					<a routerLink="/Login" routerLinkActive="active">Login</a>
				</div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<a href="index.html" class="site-logo">
					<img src="./assets/img/w.jpg" alt="">
				</a>
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
				


				<ul class="main-menu">
					<li><a routerLink="Articles/">Home</a></li>
                        <li><a routerLink="Articles/AddArticle" routerLinkActive="active">Add Article</a></li>
                        <li><a routerLink="/Articles">My articles</a></li>
						<li><a routerLink="/Articles">All Articles</a></li>
						<li><a routerLink="/Register" routerLinkActive="active">Register</a></li>
						<li><a routerLink="/Login" routerLinkActive="active">Login</a></li>
						
				</ul>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	