<div class="container">
    <br><br>
    <h2 class="text-center">Update user</h2>
        
    
    
    <form [formGroup]="profileForm"  >
        Title: <input  type="text" formControlName="title" required><br> 
        <br>
        Content<br>
        <ckeditor formControlName="content" required ></ckeditor>
       
      
    <label class="image-upload-container btn btn-bwm">
        Upload image
        <input #imageInput  type="file"  (change)="onFileChange($event)">
        
        </label>
        
        <div *ngIf="selectedFile" class="img-preview-container">
            <div class="img-preview"
                [ngStyle]="{'background-image':'url('+selectedFile.src+')'}">
            </div>
        </div> 
        <button (click)="updateArticle()">Update</button>
    </form>
    
    
   
    
    