
<section class="contact-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="contact-form-warp" class="text-center">
          <h2>  Register</h2><br><br>
          <form [formGroup]="profileForm" class="contact-form" >
            
              
                
                  
                  <input type="text" formControlName="username"  placeholder="Username">
                  <label *ngIf="profileForm.hasError('username', 'required')">Username is required</label>
                
                
                <input type="text" formControlName="email"  placeholder="E-mail"><br>
                   <label *ngIf="profileForm.hasError('email', 'required')">Email is required</label>
                   <label *ngIf="profileForm.hasError('email', 'email')">Email must be a valid email address</label>
              
                   <input  formControlName="password"  type="password"  placeholder="Password"><br>
                   <div *ngIf="profileForm.hasError('minlength', 'password')">Password should have at least 8 characters</div>
                  
                   <div [ngStyle]="{'color': 'red'}"><h4>{{msgError}}</h4></div>
          
            
           
            <div class="site-btn" (click)="addUser()">create</div>
          </form>
        </div>
      </div>
      
    </div>
  
  </div>
</section>
